html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #bdc3c7;
}

.profil {
    color: #bdc3c7;
    background-color: #31363b;
    width: 250px;
    box-shadow: 2px 2px 6px #31363b;
}

.obsah {
    font-family: "Source Sans Pro", Verdana, sans-serif;
    font-size: 0.8rem;
    padding: 1rem;
}

.obsah .jmeno {
    color: white;
    font-family: Montserrat, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.hlavicka {
    position: relative;
}

.hlavicka .foto {
    width: 100%;
}

.hlavicka .logo {
    border-radius: 50%;
    background-color: #b92e81;
    bottom: -20px;
    right: 20px;
    position: absolute;
    box-shadow: 2px 2px 6px #31363b;
}

.flex-kontejner {
    padding: 0;
    margin-top 0;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}

.flex-kontejner>div {
    font-family: Montserrat, Verdana, sans-serif;
    font-weight: bold;
    color: #bdc3c7 padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 1px #3f464d;
    height: 50px;
}

.portfolio {
    flex-grow: 1;
}

.facebook {
    width: 130px;
}

.twitter {
    width: 120px;
}

.portfolio:hover {
    background-color: #e74c3c;
}

.facebook:hover {
    background-color: #3b5998;
}

.twitter:hover {
    background-color: #1da1f2;
}